h1{
    
    width: 50%;
    margin: auto;
}

.main{
    width: 50%;
    margin: auto;
}

input[type=text]{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    background-color: white;
    color: gray;
    padding: 14px 20px;
    margin-left: 40%;
    border: 1px solid blue;
    cursor: pointer;
    width: 25%;
}

.btn:hover {
    opacity: 0.8;
}

.container{
    width: 100%;
    background-color: white;
    color: blue;
    padding: 10px 20px;
    margin:8px;
    border: 1px solid blue;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

} 
table th {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}
